# XBackBone - app.env.sample
# Copy to app.env and adjust values before starting

# Timezone
TZ=America/New_York

# Hostname
BASE_HOST_NAME=$HOSTNAME

# App display name
APP_NAME=XBackBone

# User/group IDs for file ownership
SERVICE_USER=1000
SERVICE_GROUP=1000
